@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: 'Chalkduster', 'Chalkboard', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#page{
  background-image: url('/ac.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title{
  background-image: url('/wood.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 40rem;
  min-height:10rem;
  display: flex;
  align-items: center;
  margin:2rem 2rem 1.5rem 2rem;
}
#score{
  background-image: url('/leaf.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 12rem;
  min-height: 12rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right:5rem;
}
#game{
  flex:1;
  display: grid;
  grid-template-columns: repeat(5, 12rem);
  grid-template-rows: repeat(2,12rem);
  grid-gap: 2rem;
  padding: 2rem;
}
.card{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}



